<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

<header>
	<div class="overlay">
<h1>Dream My Destiny</h1>
<p>Is the weight of creating your dream destiny overwhelming?  <br>
	For centuries we have been left to fend for ourselves while attmpting to dream our own destiny.   <br>
	Let our team of destiny proffesionals create the dream you have always dreamt of.  After a short correspondance, we will implement our cutting edge dream technology <br>
	to construct a curated destiny package that can't be beat. </p>
	<br>
	<button onclick="http://dream-mydestiny.com/Contact.html">LEARN MORE</button>
		</div>
</header>

<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">


<script>
  function resizeIframe(obj) {
    obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
  }
</script>

